@font-face {
  font-family: 'ryno-service-areas';
  src:  url('ryno-service-areas.eot');
  src:  url('ryno-service-areas.eot#iefix') format('embedded-opentype'),
    url('ryno-service-areas.woff2') format('woff2'),
    url('ryno-service-areas.ttf') format('truetype'),
    url('ryno-service-areas.woff') format('woff'),
    url('ryno-service-areas.svg#ryno-service-areas') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ryno-service-areas__icon--"], [class*=" ryno-service-areas__icon--"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ryno-service-areas' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ryno-service-areas__icon--map1:before {
  content: "\e905";
}
.ryno-service-areas__icon--map2:before {
  content: "\e906";
}
.ryno-service-areas__icon--map3:before {
  content: "\e907";
}
.ryno-service-areas__icon--map4:before {
  content: "\e902";
}
.ryno-service-areas__icon--map5:before {
  content: "\e904";
}
.ryno-service-areas__icon--map6:before {
  content: "\e909";
}
.ryno-service-areas__icon--map7:before {
  content: "\e90a";
}
.ryno-service-areas__icon--map8:before {
  content: "\1f30e";
}
.ryno-service-areas__icon--map9:before {
  content: "\e948";
}
.ryno-service-areas__icon--map10:before {
  content: "\e90e";
}
