@font-face {
  font-family: 'ryno-theme-icons';
  src:
    url('ryno-theme-icons.woff2') format('woff2'),
    url('ryno-theme-icons.ttf') format('truetype'),
    url('ryno-theme-icons.woff') format('woff'),
    url('ryno-theme-icons.svg#ryno-theme-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ri {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ryno-theme-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ryno-envelope:before {
  content: "\e945";
}
.ryno-star-sharp:before {
  content: "\e943";
}
.ryno-star-solid:before {
  content: "\e900";
}
.ryno-facebook-thumbs-up:before {
  content: "\e93e";
}
.ryno-right-arrow:before {
  content: "\e93d";
}
.ryno-arrow-circle-up:before {
  content: "\e939";
}
.ryno-arrow-circle-left:before {
  content: "\e93a";
}
.ryno-arrow-circle-right:before {
  content: "\e93b";
}
.ryno-arrow-circle-down:before {
  content: "\e93c";
}
.ryno-chevron-circle-up-regular:before {
  content: "\e92d";
}
.ryno-chevron-circle-right-regular:before {
  content: "\e92e";
}
.ryno-chevron-circle-left-regular:before {
  content: "\e92f";
}
.ryno-chevron-circle-down-regular:before {
  content: "\e930";
}
.ryno-chevron-circle-up:before {
  content: "\e927";
}
.ryno-chevron-circle-down:before {
  content: "\e928";
}
.ryno-chevron-circle-left:before {
  content: "\e92a";
}
.ryno-chevron-circle-right:before {
  content: "\e92b";
}
.ryno-dollar:before {
  content: "\e938";
}
.ryno-shopping-cart-solid:before {
  content: "\e934";
}
.ryno-shopping-cart-light:before {
  content: "\e935";
}
.ryno-shopping-cart:before {
  content: "\e936";
}
.ryno-map-marker-alt:before {
  content: "\e92c";
}
.ryno-map-pin:before {
  content: "\e922";
}
.ryno-check-circle:before {
  content: "\e926";
}
.ryno-bookmark:before {
  content: "\e925";
}
.ryno-book-open:before {
  content: "\e923";
}
.ryno-calendar-alt:before {
  content: "\e924";
}
.ryno-youtube:before {
  content: "\e921";
}
.ryno-print-light:before {
  content: "\e902";
}
.ryno-print-regular:before {
  content: "\e903";
}
.ryno-print-solid:before {
  content: "\e904";
}
.ryno-phone-alt:before {
  content: "\e908";
}
.ryno-phone:before {
  content: "\e909";
}
.ryno-phone-volume:before {
  content: "\e937";
}
.ryno-check-solid:before {
  content: "\e901";
}
.ryno-plus-light:before {
  content: "\e905";
}
.ryno-plus-regular:before {
  content: "\e906";
}
.ryno-plus-solid:before {
  content: "\e907";
}
.ryno-minus-light:before {
  content: "\e90a";
}
.ryno-minus-regular:before {
  content: "\e90b";
}
.ryno-caret-down-rounded:before {
  content: "\e929";
}
.ryno-caret-left-solid:before {
  content: "\e93f";
}
.ryno-caret-right-solid:before {
  content: "\e940";
}
.ryno-caret-up-solid:before {
  content: "\e941";
}
.ryno-caret-down-solid:before {
  content: "\e942";
}
.ryno-minus-solid:before {
  content: "\e90c";
}
.ryno-chevron-left-light:before {
  content: "\e90d";
}
.ryno-chevron-left-regular:before {
  content: "\e90e";
}
.ryno-chevron-left-solid:before {
  content: "\e90f";
}
.ryno-chevron-right-light:before {
  content: "\e910";
}
.ryno-chevron-right-regular:before {
  content: "\e911";
}
.ryno-chevron-right-solid:before {
  content: "\e912";
}
.ryno-angle-up-light:before {
  content: "\e932";
}
.ryno-angle-up-regular:before {
  content: "\e933";
}
.ryno-angle-right-light:before {
  content: "\e913";
}
.ryno-angle-right-regular:before {
  content: "\e914";
}
.ryno-angle-right-solid:before {
  content: "\e915";
}
.ryno-angle-down-solid:before {
  content: "\e916";
}
.ryno-angle-down-light:before {
  content: "\e917";
}
.ryno-angle-down-regular:before {
  content: "\e918";
}
.ryno-yelp:before {
  content: "\e919";
}
.ryno-pinterest-p:before {
  content: "\e91a";
}
.ryno-linkedin-in:before {
  content: "\e91b";
}
.ryno-instagram:before {
  content: "\e91c";
}
.ryno-houzz:before {
  content: "\e91d";
}
.ryno-google:before {
  content: "\e91e";
}
.ryno-twitter:before {
  content: "\e91f";
}
.ryno-facebook-f:before {
  content: "\e920";
}
.ryno-nextdoor:before {
  content: "\e944";
}
.ryno-tiktok:before {
  content: "\e931";
}
.ryno-reviewbuzz:before {
  content: "\e946";
}
